<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
    <title>
        {% block title %}
            Portfolio
        {% endblock %}
    </title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>

<body>
    <div class="header">
        <h1 class="header-title">Portfolio</h1>
    </div>
    <div class="navbar">
        <a class="navbar-link" href="#">Polls</a>
        <a class="navbar-link" href="#">About</a>
        <a class="navbar-link" href="#">Search</a>
    </div>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>