<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
    <title>
        {% block title %}
            Portfolio
        {% endblock %}
    </title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>

<body>
    <div class="header">
        <h1 class="header-title">Portfolio</h1>
    </div>
    <div class="nav l-2-col">
        <ul class="nav-links l-2-col-left">
            <li><a href="{% url 'polls:index' %}">Polls</a></li>
            <li><a href="{% url 'polls:about' %}">About</a></li>
        </ul>
        <ul class="nav-links l-2-col-right">
            {% if user.is_authenticated %}
                <li class="nav-dropdown"><a href="#">Signed in as {{ user.username }}</a>
                    <ul class="nav-dropdown-links is-hidden">
                        <li><a href="#">My Polls</a></li>
                        <li><a href="{% url 'polls:logout' %}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'polls:login' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function() {
        'use strict';
            /* Show the dropdown on click and adjust the width of the dropdown to be the size of the parent link */
            $('.nav-dropdown').click(function() {
                var $dropdown = $(this).children('ul').first();
                var width = $(this).width();
                $dropdown.toggleClass('is-hidden is-block');
                $dropdown.css('width', width + 'px');
            });
        });
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>