{% extends "polls/base.html" %}

{% block title %}Delete{% endblock %}

{% block content %}

    {% if user == question.author %}

    <div class="container">

        <form action="" method="post">{% csrf_token %}
            <h4>Are you sure you want to delete "{{ object }}"?</h4>
            <div class="btn-group-horizontal">
                <button class="btn" type="submit" value="Confirm">Delete</button>
                <button class="btn" id="no-btn" type="button" value="No">Back</button>
            </div>
        </form>

    </div>

    {% else %}

        <h1>YOU DO NOT HAVE PERMISSION TO DELETE THIS QUESTION!</h1>

    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
    $(function() {
        /* Go back to my_polls */
        $('#no-btn').click(function() {
           window.history.back();
        });
    });
    </script>
{% endblock %}