{% extends "polls/base.html" %}

{% block title %}Create{% endblock %}

{% block content %}

    <div class="container">

        <h1>Create a question</h1>
        <hr/>

        <form class="create-form" method="post" action="">
            {% csrf_token %}
            <h4>Your Question</h4>
            {{ q_form.question_text }}
            <hr />
            <h4>Choices</h4>
            {{ c_formset.management_form }}

            <div class="choice-formset">
                {{ c_formset.non_form_errors }}
                {# generated choice forms go here #}
            </div>

            <!-- A template for making an empty choice form. -->
            <script type="text/html" id="empty-choice-form">
            <div class="choice-form" id="choice-form-__prefix__">
                <div class="l-2-col">
                    <div class="l-2-col-left">
                        {{ c_formset.empty_form.choice_text }}
                    </div>
                    <div class="l-2-col-right">
                        <i id="remove-choice" class="fas fa-times fa-lg is-clickable"></i>
                    </div>
                </div>
            </div>
            </script>

            <button class="btn" type="button" id="add-choice">Add Choice</button>
            <hr />
            <button class="btn" type="submit" value="Submit">Submit</button>
        </form>

    </div>

{% endblock %}

{% block scripts %}
    <script>
    $(function() {
        'use strict';
        const MAX_FORMS = 20;
        const MIN_FORMS = 2;

        var $add_button = $('#add-choice');
        var $template = $('#empty-choice-form').html();
        var $choice_formset = $('.choice-formset');

        // initialise number of forms to the amount already existing (depending on 'extra' and 'min_num' formset params)
        var num_choice_forms = $('#choice-formset').children().length;
        // the id __prefix__ of the form will be different to num_choice_forms because of being able to delete
        var choice_form_id = 0;

        // add a choice to the formset
        function addChoice() {
            if (num_choice_forms >= MAX_FORMS) {
                alert('Sorry, ' + MAX_FORMS + ' choices maximum.');
            } else {
                // make an empty choice form with the correct id using the template and increment id
                var choice_form = $template.replace(/__prefix__/g, choice_form_id++);
                // add it into the formset
                $choice_formset.append(choice_form);
                // increment number of choice forms and tell the formset that its number of forms has increased
                $('#id_form-TOTAL_FORMS').attr('value', ++num_choice_forms)
            }
        }

        // on load we want to have the minimum amount of forms already
        for (var i = 0; i < MIN_FORMS; i++) {
            addChoice();
        }
{#        $('#id_form-MIN_NUM_FORMS').attr('value', MIN_FORMS);#}

        // add choice button
        $add_button.click(function() {
            addChoice();
        });

        // remove choice button (note: should not be able to remove when there are the min amount of forms)
        $(document).on('click', '#remove-choice', function() {
            if (num_choice_forms <= 2) {
                alert('You must have at least 2 choices!');
            } else {
                // find the form that the remove button is inside
                var choice = $(this).closest('.choice-form');
                // remove the button
                choice.remove();
                // decrement number of choice forms and tell the formset that it has one less form
                $('#id_form-TOTAL_FORMS').attr('value', --num_choice_forms);
            }
        });
    })
    </script>
{% endblock %}