{% extends "polls/base.html" %}

{% load humanize %} {# using this for <time> ago format #}

{% block title %}Polls{% endblock %}

{% block content %}

    <div class="container">
        <h1>Polls</h1>
        <hr />
        {% if latest_question_list %}
            <div class="question-list">
            {% for question in latest_question_list %}
                <!-- main part of question -->
{#                <div class="question" onclick="location.href='{% url 'polls:detail' question.id %}'">#}
                <div class="question">
                    <h4 class="question-title">
                        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                    </h4>
                    <span class="question-dropdown-icon" title="Preview" dropdown-id="dropdown{{ question.id }}">
                        <i class="far fa-caret-square-down fa-lg is-clickable"></i>
                    </span>
                    <p class="question-text-left">{{ question.total_votes }} vote{{ question.total_votes|pluralize }}</p>
                    <p class="question-text-right">{{ question.pub_date|naturaltime }}</p>
                </div>
                <!-- dropdown of question -->
                <div class="question-dropdown" id="dropdown{{ question.id }}">
                    <ul>
                    {% for choice in question.choice_set.all %}
                        <li>{{ choice.choice_text }}</li>
                    {% endfor %}
                    </ul>
                    <a href="{% url 'polls:delete' question.id %}">Delete</a>
                </div>
            {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="pagination">
                    <div class="pagination-prev">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <i class="fas fa-arrow-left fa-2x"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="pagination-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </div>
                    <div class="pagination-next">
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                                <i class="fas fa-arrow-right fa-2x"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="pagination-current">
                    Page 1 of 1
                </div>
            {% endif %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
    <div class="container">
        <button class="btn" onclick="location.href='{% url 'polls:create' %}'">Create new question</button>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
    $(function() {
        'use strict';
        var icon_closed = 'fa-caret-square-down';
        var icon_open = 'fa-caret-square-up';

        var $dropdown_icon = $('.question-dropdown-icon');

        $dropdown_icon.click(function(event) {
            // find the dropdown associated with this icon
            var dropdown = $('#' + $(this).attr('dropdown-id'));
            // prevent getting sent to question detail page (if the entire question is a link)
{#            event.stopPropagation();#}
            // toggle the icon
            $(this).find('[data-fa-processed]')
                .toggleClass(icon_open)
                .toggleClass(icon_closed);
            // slide up/down the dropdown
            dropdown.slideToggle();
        });
    })
    </script>
{% endblock %}