{% extends "polls/base.html" %}

{% load static %}
{% load humanize %}

{% block content %}

    <div class="container">
        <h1>My Polls</h1>
        <hr />

        {% if questions %}
            <div class="question-list">
            {% for question in questions %}
                 <!-- main part of question -->
                <div class="question">
                    <h4 class="question-title">
                        <a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
                    </h4>
                    <span class="question-dropdown-icon" title="Preview" dropdown-id="dropdown{{ question.id }}">
                        <i class="far fa-caret-square-down fa-lg is-clickable"></i>
                    </span>
                    <p class="question-text-left">
                        {{ question.total_votes }} vote{{ question.total_votes|pluralize }}
                    </p>
                    <p class="question-text-right">
                        Created {{ question.pub_date|naturaltime }}
                    </p>
                </div>
                <!-- dropdown of question -->
                <div class="question-dropdown" id="dropdown{{ question.id }}">
                    <div class="question-dropdown-content l-2-col">
                        <div class="l-2-col-left">
                            <ul>
                            {% for choice in question.choice_set.all %}
                                <li>{{ choice.choice_text }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="l-2-col-right">
                            <button class="btn-danger" id="delete-btn-{{ question.id }}"
                                    question_delete_link="{% url 'polls:delete' question.id %}"
                                    question_text="{{ question.question_text }}">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>You have no polls!</p>
        {% endif %}

        <hr />
        <button class="btn l-center" id="create-btn">Create new question</button>

    </div>

{% endblock %}

{% block modal %}
    <div class="modal is-hidden" id="modal">
        <div class="modal-content">
            <p>Are you sure you want to delete "<span></span>"?</p>
            <div class="btn-group-horizontal">
                <button class="btn" id="yes-delete-btn">Yes</button>
                <button class="btn" id="no-delete-btn">No</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src={% static 'polls/js/question_dropdown.js' %}></script>
    <script>
    $(function() {
        // need to save the delete link for the question that had its modal opened so that the 'yes' button can send us
        // to the correct link
        var $question_delete_link = "";
        var $question_text_area = $('.modal-content > p > span');
        var $modal = $('.modal');

        /* Pressing the delete button will make the modal refer to the question with both the text of the question and
           the link for deletion. It will also un-hide the modal.  */
        $('[id^="delete-btn-"]').click(function() {
            // change the modal to refer to the selected question
            var question_text = $(this).attr('question_text');
            $question_text_area.text(question_text);
            // save the delete link of the current question
            $question_delete_link = $(this).attr('question_delete_link');
            // un-hide the modal
            $modal.removeClass('is-hidden');
        });

        /* The create new question sends us to the create_question view. */
        $('#create-btn').click(function() {
            location.href = "{% url 'polls:create' %}";
        });

        /* Pressing the no button in the modal closes the modal. */
        $('#no-delete-btn').click(function() {
            $modal.addClass('is-hidden');
        });

        /* Pressing the yes button in the modal redirects us to the currently saved deletion link (which should be for
           the question the modal is referring to) */
        $('#yes-delete-btn').click(function() {
            location.href = $question_delete_link;
        });
    });
    </script>
{% endblock %}