/*
 * https://css-tricks.com/international-box-sizing-awareness-day/
 * This feels like a necessity.
 */
*, *:before, *:after {
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
}

* {
    color: whitesmoke;
}

a {
    text-decoration: none;
}

body {
    background-color: #484743;
	font-family: "Verdana", sans-serif;
    margin: 0;
}

button {
    background-color: #2f4f52;
    border: none;
    display: block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

input[type="radio"] {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="radio"] + label {
    cursor: pointer;

}