.l-right {
    float: right;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

.container {

}