.btn-group {
    margin: 10px 0;
}

.question {
    background-color: #2f4f52;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

.question-title {
    font-size: 110%;
    font-weight: bold;
}
.question-other {
    font-size: x-small;
}