/*
 * Note: classes in modules should not contain layout stuff to do with positioning/spacing/dimensions like
 * width/height/margin unless under specific circumstances.
 */

.btn-group {
    margin: 10px 0;
}

.question {
    background-color: #2f4f52;
    border: 1px solid black;
    display: block;
    padding: 5px;
}

.question-title {
    font-size: 110%;
    font-weight: bold;
}
.question-other {
    font-size: x-small;
}