/*
 * Attempting to follow SMACSS.
 * https://smacss.com/
 */

/*
==========================================================================
BASE
==========================================================================
*/

/*
 * https://css-tricks.com/international-box-sizing-awareness-day/
 * This feels like a necessity.
 */
*, *:before, *:after {
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
}

* {
    color: whitesmoke;
}

a {
    text-decoration: none;
}

body {
    background-color: #484743;
	font-family: "Verdana", sans-serif;
    margin: 0;
}

button {
    background-color: #2f4f52;
    border: none;
    display: block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

hr {
    margin: 1.5em 0;
}

input[type="radio"] {
    margin: 1em 0;
    /* using custom radio buttons */
    opacity: 0;
}
input[type="radio"] + label {
    cursor: pointer;
}

/*
==========================================================================
LAYOUT
==========================================================================
*/
.header {
    background-color: black;
    padding: 10px 20px;
}

.navbar {
    background-color: darkgray;
    border: 1px solid black;
    overflow: auto;
}
.navbar-link {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
}

.main-content {
    background-color: #4c8588;
    border: 1px solid black;
    border-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-height: 800px;
    overflow: auto;
}

/*
==========================================================================
MODULE
==========================================================================
*/

.btn-group {
    margin: 10px 0;
}

.container {
    margin: 30px 20px;
}

.question-list {
    border: 1px solid black;
    border-bottom: 0;
    margin: 1em 0;
}
.question {
    background-color: #2f4f52;
    border-bottom: 1px solid black;
    display: block;
    overflow: auto;
    padding: 5px;
}
.question:hover {
    background-color: #193a3d;
}
.question > p {
    font-size: x-small;
}
.question-text-right {
    display: inline;
    float: right;
}
.question-text-left {
    display: inline;
    float: left;
}

.pagination {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr auto 1fr;
    /* should be same height as the fa icons to prevent jerky movements while loading */
    height: 2em;
}
.pagination-current {
    align-self: center;
    flex: 2;
    text-align: center;
}
.pagination-next {
    flex: 3;
    text-align: left;
}
.pagination-prev {
    flex: 1;
    text-align: right;
}

.result {
    background-color: cornflowerblue;
    padding-right: 0.5em;
    text-align: end;
}

/*
==========================================================================
STATE
==========================================================================
*/

.is-error {
    background-color: #8a2327;
    border: 1px solid black;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*
==========================================================================
THEME
==========================================================================
*/